body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 30px;
  text-align: left;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  max-height: 300px;
  overflow: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f2ff;
}


.insights {
  margin-top: 40px;
  text-align: left;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.insights h2 {
  color: #333;
}

.insights ul {
  padding-left: 20px;
}

.insights li {
  margin-bottom: 8px;
  line-height: 1.6;
}


button {
  padding: 10px 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}